div .Notifications {
    position: absolute;
    top: 2rem;
    right: 1rem;

}
.Notifications {
	border: 1px red dashed;
	padding: 1rem;
	margin: 0;
}
.menuItem {
    position: absolute;

    right: 1rem;

}

[data-notification-type="default"] {
	color: blue;
}

[data-notification-type="urgent"] {
	color: red;
}
